@font-face {
  font-family: 'TT Firs Neue';
  src: url('../fonts/TTFirsNeue-Regular.ttf');
}

@font-face {
  font-family: 'TT Firs Neue Bold';
  src: url('../fonts/TTFirsNeue-Bold.ttf');
}

html {
  box-sizing: border-box;
}

:root {
  --accent-color: #beff06;
  --accent-color-logos: #7bda03;
  --nav-color: #b6baab;
  --conditions-color: #faf9f8;
  --white-color: #ffffff;
  --black-color: #121212;
  --section-bg-color: #1d1d1b;
  --footer-text: #d3d8c1;
  --btn-focused: #b0ee04;
  --timming: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: 'TT Firs Neue';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 0;
}

/*----------------------------------------------*/
.conteiner {
  margin: 0 auto;
  background-color: var(--section-bg-color);
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  section {
    margin-top: 12px;
  }
  .conteiner {
    width: 288px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section {
    margin-top: 12px;
  }
  .conteiner {
    width: 480px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  section {
    margin-top: 20px;
  }
  .conteiner {
    width: 768px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  section {
    margin-top: 30px;
  }
  .conteiner {
    width: 1200px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1602px) {
  section {
    margin-top: 30px;
  }
  .conteiner {
    width: 1601px;
    border-radius: 10px;
  }
}

/*--------------------  HEADER  -----------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.haeder-btn-list {
  display: flex;
}

.login-btn {
  cursor: pointer;
  display: block;
  background-color: #2d2f29;
  color: #ffffff;

  line-height: 1.27;
  font-weight: 700;
  font-family: inherit;
}
.login-btn:hover {
  outline: 1px solid var(--accent-color);
}

.reg-btn {
  cursor: pointer;
  display: block;
  background-color: var(--accent-color);
  color: var(--black-color);
  line-height: 1.27;
  font-weight: 700;
  font-family: inherit;
  transition: background-color 250ms var(--timming);
}
.reg-btn:hover {
  background-color: var(--btn-focused);
}

.site-nav {
  display: flex;
}

.site-nav__List {
  position: relative;
  padding: 5px 0;
}

.site-nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 1px;
  transform: scaleX(0);
  transition: transform 250ms var(--timming);
}

.site-nav__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 1px;
}

.site-nav__link:hover::before,
.site-nav__link:focus::before {
  transform: scaleX(1);
  color: var(--white-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--white-color);
}

@media screen and (max-width: 480px) {
  .conteiner.header {
    position: relative;
    margin-top: 8px;
    overflow: visible;
  }

  .conteiner.header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -18px;
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    background-color: #1d1d1b;
    border-radius: 1px;
    transform: scaleX(1);
  }

  .header {
    padding: 7px 12px 5px 9px;
  }

  .logo img {
    width: 67px;
  }

  .site-nav {
    position: absolute;
    z-index: 9;
    top: 28px;
    left: 10px;
    display: flex;
    gap: 10px;
  }

  .site-nav__link {
    font-size: 8px;
    line-height: 1.3;
  }

  .site-nav__List {
    padding: 2px 0;
  }

  .site-nav__link::before {
    height: 2px;
  }

  .site-nav__link.current::after {
    height: 2px;
  }

  .haeder-btn-list {
    gap: 11px;
  }

  .login-btn {
    width: 52px;
    border-radius: 5px;
    padding: 6px 0 4px 0;
    font-size: 8px;
  }

  .reg-btn {
    width: 52px;
    border-radius: 5px;
    padding: 6px 0 4px 0;
    font-size: 8px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .conteiner.header {
    position: relative;
    margin-top: 8px;
    overflow: visible;
  }

  .conteiner.header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -18px;
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 2px;
    background-color: #1d1d1b;
    border-radius: 1px;
    transform: scaleX(1);
  }

  .header {
    padding: 7px 12px 5px 9px;
  }

  .logo img {
    width: 67px;
  }

  .site-nav {
    position: absolute;
    z-index: 9;
    top: 28px;
    left: 10px;
    display: flex;
    gap: 10px;
  }

  .site-nav__link {
    font-size: 8px;
    line-height: 1.3;
  }

  .site-nav__List {
    padding: 2px 0;
  }

  .site-nav__link::before {
    height: 2px;
  }

  .site-nav__link.current::after {
    height: 2px;
  }

  .haeder-btn-list {
    gap: 11px;
  }

  .login-btn {
    width: 52px;
    border-radius: 5px;
    padding: 6px 0 4px 0;
    font-size: 8px;
  }

  .reg-btn {
    width: 52px;
    border-radius: 5px;
    padding: 6px 0 4px 0;
    font-size: 8px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .conteiner.header {
    margin-top: 20px;
  }

  .logo img {
    width: 110px;
  }

  .header {
    padding: 16px 30px 14px 26px;
  }

  .site-nav {
    position: static;
    gap: 28px;
  }

  .site-nav__link {
    font-size: 16px;
    line-height: 1.3;
  }

  .haeder-btn-list {
    gap: 20px;
  }

  .login-btn {
    border-radius: 5px;
    padding: 7px 29px;

    font-weight: 700;
    font-size: 14px;
  }

  .reg-btn {
    border-radius: 5px;
    padding: 7px 29px;

    font-weight: 700;
    font-size: 14px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  .conteiner.header {
    margin-top: 35px;
  }

  .header {
    padding: 21px 30px 23px 26px;
  }

  .site-nav {
    position: static;
    gap: 68px;
  }

  .site-nav__link {
    font-size: 20px;
    line-height: 1.3;
  }

  .haeder-btn-list {
    gap: 20px;
  }

  .login-btn {
    border-radius: 5px;
    padding: 9px 29px;

    font-weight: 700;
    font-size: 18px;
  }

  .reg-btn {
    border-radius: 5px;
    padding: 9px 29px;

    font-weight: 700;
    font-size: 18px;
  }
}

@media screen and (min-width: 1602px) {
  .conteiner.header {
    margin-top: 35px;
  }

  .header {
    padding: 21px 30px 23px 26px;
  }

  .site-nav {
    position: static;
    gap: 68px;
  }

  .site-nav__link {
    font-size: 20px;
    line-height: 1.3;
  }

  .haeder-btn-list {
    gap: 20px;
  }

  .login-btn {
    border-radius: 5px;
    padding: 9px 29px;

    font-weight: 700;
    font-size: 18px;
  }

  .reg-btn {
    border-radius: 5px;
    padding: 9px 29px;

    font-weight: 700;
    font-size: 18px;
  }
}

/*--------------------  HERO  -----------------------*/
.conteiner.hero {
  position: relative;
}

.hero-text {
  position: absolute;
  line-height: 1.1;
}

.hero-text__accent {
  color: #beff06;
}

.hero-btn {
  position: absolute;
  cursor: pointer;
  display: block;
  background-color: var(--accent-color);
  color: var(--black-color);
  border-radius: 5px;
  font-weight: 500;
  line-height: 1.15;
  font-family: inherit;
  transition: background-color 250ms var(--timming);
}

.hero-btn:hover {
  background-color: var(--btn-focused);
}

@media screen and (max-width: 480px) {
  .conteiner.hero {
    margin-top: 30px;
  }

  .hero-img {
    display: none;
  }

  .hero-text {
    top: 37px;
    left: 15px;
    font-weight: 700;
    font-size: 20px;
  }

  .hero-btn {
    top: 95px;
    left: 15px;
    padding: 8px 32px;
    font-size: 9px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .conteiner.hero {
    margin-top: 30px;
  }

  .hero-img-mob {
    display: none;
  }

  .hero-text {
    top: 37px;
    left: 60px;
    font-weight: 700;
    font-size: 30px;
  }

  .hero-btn {
    top: 105px;
    left: 60px;
    padding: 6px 36px;
    font-size: 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .hero-img-mob {
    display: none;
  }

  .hero-text {
    top: 50px;
    left: 95px;
    font-weight: 600;
    font-size: 36px;
  }

  .hero-btn {
    top: 150px;
    left: 95px;
    padding: 9px 46px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  .hero-img-mob {
    display: none;
  }

  .hero-text {
    top: 104px;
    left: 153px;
    font-weight: 600;
    font-size: 55px;
  }

  .hero-btn {
    top: 255px;
    left: 153px;
    padding: 19px 86px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1602px) {
  .hero-img-mob {
    display: none;
  }

  .hero-text {
    top: 144px;
    left: 193px;
    font-weight: 600;
    font-size: 55px;
  }

  .hero-btn {
    top: 315px;
    left: 193px;
    padding: 19px 86px;
    font-size: 20px;
  }
}

/*--------------------  OUR GAMES  -----------------------*/
.conteiner.our-games {
  background-color: transparent;
}
.games-list {
  display: flex;
  justify-content: space-around;
}

.game-card {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.hover-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 255, 6, 0.5);

  transform: translateY(100%);
  transition: transform 250ms var(--timming);
}

.game-link:hover .hover-wrap,
.game-link:focus .hover-wrap {
  transform: translateY(0);
}

.hover-btn {
  cursor: pointer;
  border: none;
  background-color: var(--black-color);
  color: var(--accent-color);
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.15;
  font-family: inherit;
}

@media screen and (max-width: 480px) {
  .games-list {
    flex-wrap: wrap;
    height: 200px;
    overflow: hidden;
    gap: 3px;
  }

  .game-card {
    width: 140px;
  }

  .hover-btn {
    padding: 8px 39px;
    margin-top: 40px;

    font-size: 9px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .games-list {
    flex-wrap: wrap;
    height: 79px;
    overflow: hidden;
    gap: 3px;
  }

  .game-card {
    width: 110px;
  }

  .hover-btn {
    padding: 8px 39px;
    margin-top: 40px;

    font-size: 9px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .game-card {
    width: 140px;
  }

  .hover-btn {
    padding: 8px 39px;
    margin-top: 40px;

    font-size: 9px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  .game-card {
    width: 225px;
  }

  .hover-btn {
    padding: 12px 56px;
    margin-top: 60px;

    font-size: 16px;
  }
}

@media screen and (min-width: 1602px) {
  .hover-btn {
    padding: 19px 86px;
    margin-top: 80px;

    font-size: 20px;
  }
}

/*--------------------  TEXT SECTION  -----------------------*/
.conteiner .text-section {
  width: 100%;
}

.text-wrap {
  text-align: center;
}

.headline {
  line-height: 1.28;
  color: rgba(123, 218, 3, 1);
}

.headline-part {
  color: rgba(190, 255, 6, 1);
}
.headline-part:hover,
.headline-part:focus {
  text-decoration: underline;
}

.main-text {
  overflow-y: scroll;
}

@media screen and (max-width: 480px) {
  .text-wrap {
    padding: 19px 24px;
  }
  .headline {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .main-text {
    height: 120px;
    font-size: 9px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .text-wrap {
    padding: 19px 24px;
  }
  .headline {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .main-text {
    height: 120px;
    font-size: 10px;
    padding: 0 12px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .text-wrap {
    padding: 33.5px 65px;
  }
  .headline {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .main-text {
    height: 250px;
    font-size: 14px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  .text-wrap {
    padding: 63.5px 128px;
  }
  .headline {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .main-text {
    height: 320px;
    font-size: 14px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1602px) {
  .text-wrap {
    padding: 83.5px 208px;
  }
  .headline {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .main-text {
    height: 320px;
    font-size: 14px;
    padding: 0 15px;
  }
}

.main-text::-webkit-scrollbar {
  width: 4px;
}

.main-text::-webkit-scrollbar-track {
  background: rgba(49, 49, 49, 1);
}

.main-text::-webkit-scrollbar-thumb {
  background-color: rgba(190, 255, 6, 1);
  border-radius: 1px;
}

/*--------------------  GAMES SECTION  -----------------------*/

.game-section-name {
  position: relative;
  line-height: 1.27;
  text-transform: uppercase;
}

.game-section-name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.game-btn__wrap {
  display: flex;
  gap: 20px;
  position: relative;
}

.game-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  transition: transform 250ms var(--timming);
}

.game-btn:hover {
  transform: scale(1.15);
}

.gallery-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.gallery-card {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  transition: transform 250ms var(--timming);
}

.gallery-card:hover {
  transform: scale(1.05);
}

.gallery-item-text {
  bottom: 0;
  width: 100%;
  padding: 11px 0;

  background-color: var(--black-color);
}

.play-game-btn {
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--black-color);
  border-radius: 5px;
  padding: 8px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  font-family: inherit;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms var(--timming);
}

.gallery-card:hover .play-game-btn {
  transform: translate(-50%, -50%) scale(1);
}

.game-more {
  cursor: pointer;
  display: block;
  background-color: #2d2f29;
  color: var(--footer-text);
  border-radius: 5px;
  padding: 9px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  font-family: inherit;
  width: 110px;

  margin: 39px 0 0 auto;
}

.game-more:hover {
  outline: 1px solid var(--accent-color);
}

@media screen and (max-width: 480px) {
  .games-block__wrap {
    position: relative;
    padding-top: 30px;
  }

  .vertical {
    display: block;
    position: absolute;
    top: 0;
    width: 278px;

    display: flex;
    justify-content: space-between;

    background-color: var(--black-color);
  }
  .game-section-name {
    font-size: 12px;
  }
  .game-section-name::before {
    height: 2px;
  }
  .gallery-list {
    gap: 5px;
    height: 90px;
    overflow: hidden;
  }
  .gallery-card {
    width: 140px;
  }
  .gallery-item-text {
    display: none;
  }
  /* .play-game-btn {
    display: none;
  } */

  .play-game-btn {
    padding: 5px 16px;
    font-size: 12px;
    top: 50%;
    left: 50%;
  }

  .game-more {
    font-size: 13px;
    width: 110px;
    margin: 11px auto 13px auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .games-block__wrap {
    position: relative;
    padding-top: 30px;
  }

  .vertical {
    display: block;
    position: absolute;
    top: 0;
    width: 475px;

    display: flex;
    justify-content: space-between;

    background-color: var(--black-color);
  }
  .game-section-name {
    font-size: 12px;
  }
  .game-section-name::before {
    height: 2px;
  }
  .gallery-list {
    gap: 12px;
    height: 203px;
    overflow: hidden;
  }
  .gallery-card {
    width: 152px;
  }
  .gallery-item-text {
    display: none;
  }
  /* .play-game-btn {
    display: none;
  } */

  .play-game-btn {
    padding: 5px 16px;
    font-size: 12px;
    top: 50%;
    left: 50%;
  }

  .game-more {
    font-size: 13px;
    width: 110px;
    margin: 11px auto 13px auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .conteiner.games-block {
    padding: 0 37px 0 25px;
    display: flex;
    gap: 32px;
  }

  .vertical {
    width: 96px;
    /* height: 812px; */
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 19px;
    padding-bottom: 20px;
  }

  .game-section-name {
    position: relative;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  .game-section-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .gallery {
    margin: 16px 0 16px 0;
    width: 89%;
  }
  .gallery-list {
    height: 282px;
    overflow: hidden;
  }
  .gallery-card {
    width: 140px;
  }
  .gallery-item-text {
    display: none;
  }
  .play-game-btn {
    padding: 6px 26px;
    font-weight: 700;
    font-size: 12px;
  }

  .game-more {
    font-size: 10px;
    width: 110px;
    margin: 11px 0 13px auto;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1601px) {
  .conteiner.games-block {
    padding: 0 37px 0 25px;
    display: flex;
    gap: 32px;
  }

  .vertical {
    width: 90px;
    /* height: 812px; */
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 29px;
    padding-bottom: 39px;
  }

  .game-section-name {
    position: relative;
    font-size: 11px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  .game-section-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .gallery {
    margin: 29px 0 29px 0;
    width: 89%;
  }
  .gallery-card {
    width: 195px;
  }
  .game-more {
    margin: 29px 0 0 auto;
    font-size: 14px;
  }
}

@media screen and (min-width: 1602px) {
  .conteiner.games-block {
    padding: 0 37px 0 25px;
    display: flex;
    gap: 32px;
  }

  .vertical {
    width: 150px;
    height: 812px;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 49px;
    padding-bottom: 67px;
  }

  .game-section-name {
    position: relative;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 4px;
  }

  .game-section-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    margin-top: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .gallery {
    margin: 49px 0 49px 0;
    width: 89%;
  }
}

/*--------------------  FOOTER SECTION  -----------------------*/

.main-part {
  display: flex;
}

.comp-slogan {
  color: var(--footer-text);
}

.socials-list {
  display: flex;
  gap: 10px;
}

.soc-link {
  display: block;
  transition: transform 250ms var(--timming);
}

.soc-link:hover {
  transform: scale(1.15);
}
.footer-links a {
  color: var(--footer-text);
  display: block;
}
.footer-links h4 {
  font-size: 18px;
}

.company-list__part {
  margin-bottom: 26px;
}

.company-list {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.company-list a:hover {
  text-decoration: underline;
}
.footer-notes {
  font-weight: 500;
  line-height: 1.27;
  color: #6e716a;
  margin-bottom: 18px;
}

.rights {
  color: var(--footer-text);
}

@media screen and (max-width: 480px) {
  .footer-main {
    padding: 22px 11px;
  }
  .main-part {
    flex-direction: column;
  }
  .footer-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ap-logo {
    width: 52px;
    margin-bottom: 11px;
  }
  .comp-slogan {
    color: var(--footer-text);
    text-align: center;
  }
  .socials {
    margin-top: 23px;
    margin-bottom: 38px;
  }
  .company-list {
    gap: 10px;
  }
  .about {
    margin-top: 25px;
  }
  .security {
    margin-top: 25px;
  }
  .notes {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .footer-notes {
    font-size: 7px;
  }
  .rights {
    font-size: 12px;
    color: var(--footer-text);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-main {
    padding: 22px 11px;
  }
  .main-part {
    flex-direction: column;
  }

  .ap-logo {
    width: 52px;
    margin-bottom: 10px;
  }

  .socials {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-links {
    font-size: 14px;

    display: flex;
    justify-content: space-around;

    margin-bottom: 10px;
  }

  .company-list {
    gap: 14px;
  }
  .footer-notes {
    font-size: 15px;
  }
  .rights {
    font-size: 15.8px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .footer-main {
    padding: 28px 15px 28px 28px;
  }

  .footer-logos {
    margin-right: 18px;
  }
  .ap-logo {
    margin-bottom: 18.7px;
  }
  .socials {
    margin-top: 30px;
    margin-bottom: 121px;
  }

  .footer-links {
    display: flex;
    font-size: 14px;
  }
  .company-list {
    gap: 20px;
  }
  .games {
    margin-right: 16px;
  }

  .about {
    margin-right: 16px;
  }
  .footer-notes {
    font-size: 13px;
  }
  .rights {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1601px) {
  .footer-main {
    padding: 68px 0 66.5px 50px;
  }

  .footer-logos {
    margin-right: 178px;
  }
  .ap-logo {
    margin-bottom: 18.7px;
  }
  .socials {
    margin-top: 51px;
    margin-bottom: 60px;
  }
  .footer-links {
    display: flex;
  }
  .company-list {
    gap: 20px;
  }
  .games {
    margin-right: 86px;
  }

  .about {
    margin-right: 80px;
  }
  .footer-notes {
    font-size: 15px;
  }
  .rights {
    font-size: 15.8px;
  }
}

@media only screen and (min-width: 1602px) {
  .footer-main {
    padding: 68px 154px 86.5px 50px;
  }

  .footer-logos {
    margin-right: 278px;
  }
  .ap-logo {
    margin-bottom: 18.7px;
  }
  .socials {
    margin-top: 51px;
    margin-bottom: 121px;
  }
  .footer-links {
    display: flex;
  }
  .company-list {
    gap: 20px;
  }
  .games {
    margin-right: 86px;
  }

  .about {
    margin-right: 80px;
  }
  .footer-notes {
    font-size: 15px;
  }
  .rights {
    font-size: 15.8px;
  }
}

/*--------------------  COMPANIES SECTION  -----------------------*/
.under-footer {
  margin-top: 0;
}
.conteiner.companies {
  margin-top: 0;
  background-color: transparent;
  padding: 15px 0 40px 0;
}

.working-with-comp {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 28.3px;
}

@media screen and (max-width: 480px) {
  .conteiner.companies {
    padding: 5px 0 20px 0;
  }
  .working-with-comp {
    gap: 12px;
  }
}

@media screen and (min-width: 1602px) {
}
